{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
  <a href="{% url 'new' %}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </a>
{%endif%}
  <button class="scroll-top mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons" style="font-size: 15px;">TOP</i>
  </button>
{% for feed in feeds %}
<div class="feed_inner">
  <div class="feed_head">
    <a class="feed_head_name">
      <p id="feed_name">{{feed.author.username}}</p>
    </a>
    {% if feed.author == request.user %}
    <!-- Right aligned menu below button -->
    <a id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon feed_head_delete">
      <i class="material-icons">more_vert</i>
    </a>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
      <li class="mdl-menu__item">Some Action</li>
      <li class="mdl-menu__item">Another Action</li>
      <li disabled class="mdl-menu__item">Disabled Action</li>
      <li class="mdl-menu__item">Yet Another Action</li>
    </ul>
    {% endif %}
  </div>
  {% if feed.photo is not blank %}
  <div class="feed_img">
    <a>
      <img class="img" src="{{feed.photo.url}}">
    </a>
  </div>
  {% endif %}
  <div class="feed_content">
    <p>{{feed.content}}</p>
  </div>
  <div class="feed_heart">
    {% if not user.is_authenticated %}
    <a class="feed_heart_a" href="{% url 'login'%}">
      <img class="heart_icon" src="{% static 'images/heart-regular.svg'%}">
    </a>
    {% else %}
    <a class="feed_heart_a feed_heart_ajax" href="/home/{{feed.id}}/like_feed/" data-fid="{{feed.id}}" data-csrfmiddlewaretoken="{{csrf_token}}">
      <img class="heart_icon" src="{% static 'images/heart-regular.svg'%}">
    </a>
    {%endif%}
    <p class="feed_heart_count">{{feed.like_users.count}}</p>
  </div>
  <form method="POST" action="/home/{{feed.id}}/new_comment" class="feed_text" data-fid="{{ feed.id }}" data-csrfmiddlewaretoken="{{ csrf_token }}">
    {% csrf_token %}
    <input id="{{feed.id}}" name="content" type="text" placeholder="댓글 달기..." class="feed_text_box">
    <div class="feed_send_box">
      <input class="feed_send_a" type="submit" id="feed_send" value="게시">
    </div>
  </form>
  {%if feed.feedcomment_set.all.count > 1%}
    <div class="more-comment-btn">
      <button class="more-comment-button">MORE COMMENT</button>
    </div> 
  {%endif%}
  <div class="feed_comment">
    {% for c in feed.feedcomment_set.all %}
      {%if c.id == feed.feedcomment_set.all.last.id %}
        <div class="feed_comment_each toggle_comment last_comment">
          <p>ㄴ</p>
          <a class="user_name">
            <p>{{c.author.username}} :</p>
          </a>
          <div class="comment_main">
            <p>{{c.content}}</p>
            <a href="/home/{{feed.id}}/{{c.id}}/{{delete}}/" class="comment_delete" data-fid="{{feed.id}}" data-cid="{{c.id}}" data-csrfmiddlewaretoken="{{csrf_token}}">delete</a>
          </div>
        </div>
      {% else %}
        <div class="feed_comment_each toggle_comment" style="display: none;">
          <p>ㄴ</p>
          <a class="user_name">
            <p>{{c.author.username}} :</p>
          </a>
          <div class="comment_main">
            <p>{{c.content}}</p>
            <a href="/home/{{feed.id}}/{{c.id}}/{{delete}}/" class="comment_delete" data-fid="{{feed.id}}" data-cid="{{c.id}}" data-csrfmiddlewaretoken="{{csrf_token}}">delete</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock content %}