{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
  <a href="{% url 'new' %}" style="color: red;"><br>New Feed</a>
{%endif%}
{% for feed in feeds %}
<div class="feed_inner">
  <div class="feed_head">
    <a class="feed_head_name">
      <p id="feed_name">{{feed.author.username}}</p>
    </a>
    {% if feed.author == request.user %}
    <a class="feed_head_delete" href="/home/{{feed.id}}/delete/">
      <p style="color: rgb(150,0,0);">delete</p>
    </a>
    {% endif %}
  </div>
  {% if feed.photo is not blank %}
  <div class="feed_img">
    <a>
      <img class="img" src="{{feed.photo.url}}">
    </a>
  </div>
  {% endif %}
  <div class="feed_content">
    <p>{{feed.content}}</p>
  </div>
  <div class="feed_heart">
    {% if user.is_authenticated %}
    <a class="feed_heart_a" href="/home/{{feed.id}}/like_feed/">
      <img class="heart_icon" src="{% static 'images/heart-regular.svg'%}">
    </a>
    {% else %}
    <a class="feed_heart_a" href="{% url 'login'%}">
      <img class="heart_icon" src="{% static 'images/heart-regular.svg'%}">
    </a>
    {%endif%}
    <p class="feed_heart_count">{{feed.like_users.count}}</p>
  </div>
  <form method="POST" action="/home/{{feed.id}}/new_comment" class="feed_text">
    {% csrf_token %}
    <input name="content" type="text" placeholder="댓글 달기..." class="feed_text_box">
    <div class="feed_send_box">
      <input class="feed_send_a" type="submit" id="feed_send" value="게시">
    </div>
  </form>
  <div class="feed_comment">
    {% for c in feed.feedcomment_set.all %}
    <div class="feed_comment_each">
      <p>ㄴ</p>
      <a class="user_name">
        <p>{{c.author.username}} :</p>
      </a>
      <p>{{c.content}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock content %}