{% extends 'base.html' %}

{% block content %}
<h1 class='page_title'>멋쟁이 4자를 위한 게시판</h1>
    <a class='new_feed' href="{% url 'new'%}">새로 만들어버리기</a>
    {% for feed in feeds %} 
      <div class='each_feed'>
        <div class='feed_option'>
          <a class='feed_option_detail' href="/feeds/{{ feed.id }}/">더보시렵니까?</a>
          <a href="/feeds/{{ feed.id }}/update/?next={{request.path}}">고쳐버리기</a>
          <a href="/feeds/{{ feed.id }}/delete/" onclick="return confirm('정말 삭제하시겠습니까?')">없애버리기</a>
        </div>
        <p>제목 : {{ feed.title }}</p>
        <p>내용 : {{ feed.content }}</p>
      </div>
    {% endfor %}
{% endblock content %}